<div class="app-page-title">Slot Machine</div>
<div style="width: 100%;">
    <div *ngIf="!loadedParameters" class="slot-loading centered-content">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div *ngIf="loadedParameters" class="slot-mobile-disclaimer">
        Support for smaller screens is experimental!<br />
        On mobile, prefer landscape orietation.
    </div>
    <div *ngIf="loadedParameters" class="slot-external-container">
        <div class="slot-container">
            <div class="slot-score-board">
                <div class="slot-score-board-title">Prizes:</div>
                <div class="slot-score-board-line">
                    <div class="slot-score-board-line-element"></div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x3</div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x4</div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x5</div>
                </div>
                <div class="slot-score-board-line" *ngFor="let symbolName of reversedNonBonusSymbols; let i = index;">
                    <div class="slot-score-board-line-element">
                        <img class="slot-score-board-line-image" [src]="availableSymbols[symbolName].imagePath" />
                    </div>
                    <div class="slot-score-board-line-element slot-score-board-prize">
                        <div [ngClass]="{ 'slot-score-board-prize-highlighted': isPrizeWon(symbolName, 2) }" class="slot-score-board-prize-overlay"></div>
                        <div [ngClass]="{ 'slot-score-board-line-element-wild': availableSymbols[symbolName].prize[2] == 0 }">{{availableSymbols[symbolName].prize[2] > 0 ? availableSymbols[symbolName].prize[2] * betMultiplier : 'WILD'}}</div>
                    </div>
                    <div class="slot-score-board-line-element slot-score-board-prize">
                        <div [ngClass]="{ 'slot-score-board-prize-highlighted': isPrizeWon(symbolName, 3) }" class="slot-score-board-prize-overlay"></div>
                        <div [ngClass]="{ 'slot-score-board-line-element-wild': availableSymbols[symbolName].prize[3] == 0 }">{{availableSymbols[symbolName].prize[3] > 0 ? availableSymbols[symbolName].prize[3] * betMultiplier : 'WILD'}}</div>
                    </div>
                    <div class="slot-score-board-line-element slot-score-board-prize">
                        <div [ngClass]="{ 'slot-score-board-prize-highlighted': isPrizeWon(symbolName, 4) }" class="slot-score-board-prize-overlay"></div>
                        <b>{{availableSymbols[symbolName].prize[4] * betMultiplier}}</b>
                    </div>
                </div>
                <div class="centered-content slot-score-board-line slot-score-board-bonus-line">
                    <img class="slot-score-board-line-image" [src]="availableSymbols[bonusSymbolName].imagePath"/>
                    <span style="margin-left: 10px; vertical-align: top; line-height: 32px;">Bonus (anywhere)</span>
                </div>
                <div class="slot-score-board-line">
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x3</div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x4</div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x5</div>
                    <div style="font-weight: 600;" class="slot-score-board-line-element">x6</div>
                </div>
                <div class="slot-score-board-line slot-score-board-line-bonus">
                    <div [ngStyle]="{ width: prize > 0 ? '25%': '0' }" class="slot-score-board-line-element" *ngFor="let prize of availableSymbols[bonusSymbolName].prize; let i = index">
                        <div class="slot-score-board-prize" *ngIf="prize > 0">
                            <div [ngClass]="{ 'slot-score-board-prize-highlighted': isPrizeWon(bonusSymbolName, i) }" class="slot-score-board-prize-overlay"></div>
                            {{prize * betMultiplier}}
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="board != null" class="slot-reels-container">
                <img class="slot-reels-lines-overlay" src="assets/img/slot/lines-overlay.png" />
                <div class="slot-reels-container-shadow"></div>
                <div>
                    <div class="slot-reels-column" [ngStyle]="{ top: (fillerBoard == null) ? '0' : 'calc(-' + fillerCount + ' * ' + (148 * uiScale) + 'px)' }" [ngClass]="
                        {
                            'slots-reel-column-animation-0' : column == 0 && animatingColumn[column],
                            'slots-reel-column-animation-1' : column == 1 && animatingColumn[column],
                            'slots-reel-column-animation-2' : column == 2 && animatingColumn[column],
                            'slots-reel-column-animation-3' : column == 3 && animatingColumn[column],
                            'slots-reel-column-animation-4' : column == 4 && animatingColumn[column]
                        }" *ngFor="let columnElements of board; let column = index">
                        <div class="slot-reels-element-container" *ngFor="let element of columnElements; let line = index">
                            <div class="slot-reels-element-container-overlay" [ngClass]="{ 'slot-highlighted-element': highlightedElements[column][line] }"></div>
                            <img class="slot-reels-element-img" [src]="availableSymbols[element].imagePath"/>
                        </div>
                        <div *ngIf="fillerBoard != null">
                            <div  class="slot-reels-element-container"  *ngFor="let element of fillerBoard[column];">
                                <img class="slot-reels-element-img" [src]="availableSymbols[element].imagePath"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slot-credit-info-container">
                <div class="slot-credit-info-field">
                    <div class="slot-credit-info-field-element"><span>BET: </span><span>{{baseBet * betMultiplier}}</span></div>
                    <div class="slot-credit-info-field-element button" [ngClass]="{ 'disabled': betMultiplier == 1 || spinning, 'no-hover': betMultiplier == 1 || spinning }" (click)="decreaseMultiplier()">-</div>
                    <div class="slot-credit-info-field-element button" [ngClass]="{ 'disabled': betMultiplier == maxBetMultiplier || spinning, 'no-hover': betMultiplier == maxBetMultiplier || spinning }" (click)="increaseMultiplier()">+</div></div>
                <div class="slot-credit-info-field"><span>BALANCE: </span><span >{{appService.user.balance}}</span></div>
                <div class="slot-credit-info-field"><span>WIN: </span><span>{{lastWin}}</span></div>
                <div class="slot-credit-info-field">
                    <div *ngIf="appService.user.balance >= baseBet * betMultiplier" class="slot-spin-button button" [ngClass]="{ 'disabled': spinning, 'no-hover': spinning }" (click)="spin()">SPIN<span>(Tap Space)</span></div>
                    <div *ngIf="appService.user.balance < baseBet * betMultiplier" class="slot-deposit-button button" [ngClass]="{ 'disabled': spinning, 'no-hover': spinning }" (click)="depositBalance()">Deposit</div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="loadedParameters" class="slot-rules-container">
        <h2>Instructions</h2>
        <h4>Balance</h4>
        <ul>
            <li>Play from your balance. If you're out of balance, deposit some more to play!</li>
            <li>You can bet between <b>{{baseBet}}</b> and <b>{{baseBet * maxBetMultiplier}}</b> satoshi and the prizes will upgrade accordingly.</li>
            <li>Any prizes won will automatically add to your balance and you can withdraw whenever you want.</li>
        </ul>
        <h4>Matching</h4>
        <ul>
            <li>You can hover over the slot reels to check the paying lines.</li>
            <li>All prizes are paid for same symbol matches along the paying lines starting from the left (except the <b>Bonus</b> symbol which is valid anywhere in the board).</li>
            <li>The <b>Wild</b> symbol can match any symbol and its value will be equivalent to the matched symbol.</li>
            <li>The <b>Bonus</b> symbol does not match with <b>Wild</b> symbol to form a winning line, it can only give a prize on its own.</li>
        </ul>
        <h4>Symbols and Prizes</h4>
        <ul>
            <li *ngFor="let symbol of nonBonusSymbols.concat(bonusSymbolName)"><img [src]="availableSymbols[symbol].imagePath"> {{symbol}} - <span *ngFor="let prize of availableSymbols[symbol].prize; let pIndex = index;">{{prize > 0 ? (pIndex + 1) + 'x ' + (prize * betMultiplier) + (pIndex == availableSymbols[symbol].prize.length - 1 ? '' : ' - ') : ''}}</span></li>
        </ul>
        <h4>Hotkeys</h4>
        <ul>
            <li>You can tap the <b>Space</b> key to spin the reels.</li>
            <li>You can tap the <b>+</b> and <b>-</b> keys to increase or decrease the bet amount.</li>
        </ul>
        <h4>Mechanics</h4>
        <ul>
            <li>The final board is random. Any non <b>Bonus</b> or <b>Wild</b> symbol has the same chance of showing.</li>
            <li><b>Wild</b> symbol has a {{fillerWildcardChance * 100}}% chance of showing up in any position.</li>
            <li><b>Bonus</b> symbol has a {{fillerBonusChance * 100}}% chance of showing up in any position.</li>
            <li>The game is currently tweaked to have a long term cut of < 5% for the house. Provable fairness will be implemented in a future update.</li>
        </ul>
        <h4>Final Notes</h4>
        <ul>
            <li>Be responsible. Don't bet more than you can lose.</li>
            <li>This is intended to be a fun little game, not a job!</li>
            <li>Have fun! If you run into any issues please contact me at nel0 [at] protonmail.com.</li>
        </ul>
    </div>
</div>
