@import '../../../../variables.less';

@media only screen and (max-width: 500px) {
    .slot-container {
        transform: scale(0.3);
        transform-origin: top left;
        position: absolute;
        left: calc(50% - 171px);
    }
    .slot-external-container {
        position: relative;
        height: 190px;
    }
    .slot-mobile-disclaimer {
        display: block !important;
    }
}

@media only screen and (min-width: 501px) and (max-width: 700px) {
    .slot-container {
        transform: scale(0.45);
        transform-origin: top left;
        position: absolute;
        left: calc(50% - 255px);
    }
    .slot-external-container {
        position: relative;
        height: 280px;
    }
    .slot-mobile-disclaimer {
        display: block !important;
    }
}

@media only screen and (min-width: 701px) and (max-width: 1200px) {
    .slot-container {
        transform: scale(0.6);
        transform-origin: top left;
        position: absolute;
        left: calc(50% - 342px);
    }
    .slot-external-container {
        position: relative;
        height: 370px;
    }
    .slot-mobile-disclaimer {
        display: block !important;
    }
}

@scale: 1;

@fillerCount: 30;

@keyframes inoutAnimation {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes reelAnimation {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(0, @fillerCount * (148px * @scale));
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOutAnimation {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.slot-loading {
    margin: 128px * @scale auto;
    width: 128px * @scale;
    height: 128px * @scale;
}

.slot-mobile-disclaimer {
    text-align: center;
    font-size: 16px;
    color: @infotextcolor;
    padding-bottom: 20px;
    line-height: 28px;
    display: none;
}

.slot-container {
    width: 1100px * @scale;
    height: 568px * @scale;
    margin: 0 auto;
    padding: 20px * @scale;
    background-color: white;
}

.slot-rules-container {
    padding: 20px;
    width: calc(100% - 40px);
}

.slot-rules-container li {
    margin-bottom: 10px;
}

.slot-rules-container img {
    width: 16px;
    height: 16px;
    vertical-align: middle;
}

.slot-score-board {
    width: 280px * @scale;
    height: 464px * @scale;
    display: inline-block;
    background-color: #eee;
    vertical-align: top;
    margin-right: 20px * @scale;
}

.slot-score-board-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px * @scale;
    color: @textcolor;
    text-align: center;
    height: 44px * @scale;
    line-height: 44px * @scale;
    width: 100%;
    font-weight: 600;
}

.slot-score-board-line {
    width: calc(100% - (10px * @scale));
    height: 32px * @scale;
    margin-bottom: 4px * @scale;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px * @scale;
    color: @textcolor;
    line-height: 32px * @scale;
    padding: 2px * @scale 5px * @scale;
}

.slot-score-board-bonus-line {
    width: 100%;
    height: 32px * @scale;
    margin-top: 16px * @scale;
    margin-bottom: 8px * @scale;
}

.slot-score-board-line-bonus > div:nth-child(3) {
    font-size: 12px * @scale;
}

.slot-score-board-line-bonus > div:nth-child(4) {
    font-size: 14px * @scale;
}

.slot-score-board-line-bonus > div:nth-child(5) {
    font-size: 16px * @scale;
}

.slot-score-board-line-bonus > div:nth-child(6) {
    font-size: 18px * @scale;
    font-weight: 600;
}

.slot-score-board-prize-overlay {
    position: absolute;
    top: 2px * @scale;
    left: 2px * @scale;
    width: calc(100% - (8px * @scale));
    height: calc(100% - (8px * @scale));
}

.slot-score-board-prize-highlighted {
    border: 2px * @scale solid #333;
    box-shadow: inset 0 0 2px * @scale 2px * @scale @warningaccentcolor;
    opacity: 0;
    animation: inoutAnimation 1s infinite;
}

.slot-score-board-line-element {
    width: 25%;
    height: 100%;
    display: inline-block;
    line-height: 32px * @scale;
    vertical-align: top;
    text-align: center;
}

.slot-score-board-line-element-wild {
    color: @darkaccentcolor !important;
    font-weight: 600;
}

.slot-score-board-prize {
    font-size: 12px * @scale;
    position: relative;
}

.slot-score-board-prize:nth-of-type(3) {
    font-size: 15px * @scale;
}

.slot-score-board-prize:nth-of-type(4) {
    font-size: 18px * @scale;
}

.slot-score-board-line-image {
    padding: 2px * @scale;
    width: auto;
    height: calc(100% - (4px * @scale));
}

.slot-reels-container {
    position: relative;
    overflow: hidden;
    width: 800px * @scale;
    height: 464px * @scale;
    background-color: #333;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px * @scale;
}

.slot-reels-lines-overlay {
    z-index: 11;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeOutAnimation 1s 1;
}

.slot-reels-lines-overlay:hover {
    opacity: 1;
    animation: fadeInAnimation 1s 1;
}

.slot-reels-column {
    background-color: white;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    margin-right: 10px * @scale;
    border-right: 10px * @scale solid grey;
    border-left: 10px * @scale solid grey;
    position: relative;
}

.slots-reel-column-animation-0 {
    transform: translate(0, @fillerCount * (148px * @scale)) !important;
    animation: reelAnimation 1.5s 1 ease-in-out;
}

.slots-reel-column-animation-1 {
    transform: translate(0, @fillerCount * (148px * @scale)) !important;
    animation: reelAnimation 2s 1 ease-in-out;
}

.slots-reel-column-animation-2 {
    transform: translate(0, @fillerCount * (148px * @scale)) !important;
    animation: reelAnimation 2.5s 1 ease-in-out;
}

.slots-reel-column-animation-3 {
    transform: translate(0, @fillerCount * (148px * @scale)) !important;
    animation: reelAnimation 3s 1 ease-in-out;
}

.slots-reel-column-animation-4 {
    transform: translate(0, @fillerCount * (148px * @scale)) !important;
    animation: reelAnimation 3.5s 1 ease-in-out;
}

.slot-reels-column:first-child {
    margin-left: 10px * @scale;
}

.slot-reels-element-container {
    height: 108px * @scale;
    width: 108px * @scale;
    margin-bottom: 20px * @scale;
    position: relative;
    padding: 10px * @scale;
}

.slot-reels-element-container-overlay {
    position: absolute;
    top: -6px * @scale;
    left: -6px * @scale;
    width: 100%;
    height: 100%;
    border-radius: 10px * @scale;
}

.slot-highlighted-element {
    box-shadow: inset 0 0 5px * @scale 5px * @scale #f9a643;
    border: 6px * @scale solid #333;
    opacity: 0;
    animation: inoutAnimation 1s infinite;
}

.slot-reels-element-container:first-child {
    margin-top: 20px * @scale;
}

.slot-reels-element-img {
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.slot-reels-container-shadow {
    position: absolute;
    z-index: 10;
    top: 0;
    left: -10px * @scale;
    width: calc(100% + (20px * @scale));
    height: 100%;
    box-shadow: inset 0 0 20px * @scale 10px * @scale black;
}

.slot-spin-button {
    display: block !important;
    width: calc(100% - (20px * @scale));
    height: 44px * @scale;
    line-height: 44px * @scale;
    position: relative;
    font-size: 15px * @scale;
    padding: 0 10px * @scale;
}

.slot-spin-button > span {
    position: absolute;
    top: 14px * @scale;
    left: 0;
    width: 100%;
    font-size: 10px * @scale;
    color: @textcolor;
}

.slot-deposit-button {
    display: block !important;
    width: calc(100% - (20px * @scale));
    height: 44px * @scale;
    line-height: 44px * @scale;
    position: relative;
}

.slot-credit-info-container {
    width: 1060px * @scale;
    height: 44px * @scale;
    margin: 0 auto;
    background-color: white;
    padding: 20px * @scale;
}

.slot-credit-info-field {
    display: inline-block;
    width: 25%;
    height: 100%;
    line-height: 44px * @scale;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px * @scale;
    color: #333;
    text-align: center;
    vertical-align: top;
}

.slot-credit-info-field-element {
    vertical-align: top;
    display: inline-block;
}

.slot-credit-info-field-element.button {
    margin-left: 20px * @scale;
    width: 24px * @scale;
    height: 44px * @scale;
    line-height: 44px * @scale;
    font-weight: 600;
    font-size: 24px * @scale;
    padding: 0 10px * @scale;
}

.slot-credit-info-field > span:nth-child(1) {
    vertical-align: top;
    font-weight: 600;
}

.slot-credit-info-field > span:nth-child(2) {
    vertical-align: top;
    color: @highlightedtextcolor;
    font-size: 24px * @scale;
}

.slot-credit-info-field > .slot-credit-info-field-element > span:nth-child(1) {
    vertical-align: top;
    font-weight: 600;
}

.slot-credit-info-field > .slot-credit-info-field-element > span:nth-child(2) {
    vertical-align: top;
    color: @highlightedtextcolor;
    font-size: 24px * @scale;
}
