<div class="app-page-title">Node</div>
<div class="node-container">
    <div class="node-info-text">You can connect directly to ln.city node with the following url:</div>
    <input class="node-url-input" value="02e84ca81d3ac27855089e5dc53dafe037aef4cc8feafcfc01f6af569657e9dced@ln.city:9735" readonly />
    <div class="node-info-text">If you're new to lightning please refer to the following tutorial to learn how to! <b>Tutorial</b></div>
    <div class="node-info-title">Request a channel in your direction:</div>
    <div class="node-info-text">Coming Soon!</div>
</div>
