@import '../../../variables.less';

.node-container {
    width: 100%;
}

.node-info-text {
    color: @infotextcolor;
    margin: 40px 0;
    text-align: center;
}

.node-info-title {
    color: @textcolor;
    margin: 100px 0 20px 0;
    font-size: 22px;
    text-align: center;
}

.node-url-input {
    width: 70%;
    margin: 40px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
}
