@import '../../../variables.less';

.home-container {
    padding: 0 20px;
}

.home-intro-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: @textcolor;
}

.home-logo-container {
    width: 100%;
}

.home-logo-image {
    width: 96px;
    height: 96px;
    display: block;
    margin: 0 auto;
}

.home-under-construction-text {
    color: @infotextcolor;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

.home-disclaimer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
}

.home-donate-button {
    display: block;
    width: 96px;
    margin: 20px auto;
}
