<div class="app-page-title">Welcome to Lightning Network City!</div>
<div class="home-container">
    <div class="home-intro-text">
        <div class="home-logo-container">
            <img class="home-logo-image" src="assets/img/logo-256x256.png" />

            <div class="home-under-construction-text">
                Heavily Under Construction!
            </div>
            <div class="home-disclaimer">
                <p>Don't commit any meaningful funds to the website at this point as I cannot guarantee everything will work fine.</p>
                <p>Feel free to contact me at nel0 [at] protonmail.com</p>
            </div>
            <div class="home-donate-button button" (click)="donate()">
                DONATE
            </div>
        </div>
    </div>
</div>

