<div class="payment-dialog-header">
    {{title}}
</div>
<div class="payment-dialog-body">
    <div *ngIf="phase != PaymentPhase.ShowingResult" class="payment-dialog-message">
        {{message}}
    </div>

    <div *ngIf="phase == PaymentPhase.SelectingTarget">
        <div class="payment-dialog-target-selection-container">
            <input class="payment-dialog-target-input" [(ngModel)]="targetUsername" />
            <div class="payment-dialog-target-input-info">Double check the username!</div>
        </div>
    </div>

    <div *ngIf="phase == PaymentPhase.SelectingAmount">
        <div class="payment-dialog-suggested-amount-container">
            <div class="payment-dialog-suggested-amount-line"
                *ngFor="let suggestedAmountList of suggestedAmounts; let row = index;">

                <div (click)="selectAmount(row, column)"
                    class="payment-dialog-suggested-amount-value"
                    [ngClass]="{
                        button: (row == selectedRow && column == selectedColumn),
                        'no-hover': (row == selectedRow && column == selectedColumn),
                        'button-light': (row != selectedRow || column != selectedColumn)
                    }" *ngFor="let suggestedAmount of suggestedAmountList; let column = index;">

                    {{suggestedAmount | amountPipe}}
                </div>
            </div>
        </div>
        <div class="payment-dialog-amount-value-container">
            <span class="payment-dialog-amount-message">Amount:</span>
            <input class="payment-dialog-amount-value-input" [(ngModel)]="amount" (input)="amountInputChanged($event)" type="number" />
            <div class="payment-dialog-amount-value-input-info">{{minAmount}} - {{maxAmount}}</div>
        </div>
    </div>

    <div *ngIf="phase == PaymentPhase.RetrievingInvoice || phase == PaymentPhase.SendingTransfer" class="payment-dialog-loading centered-content">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>

    <div *ngIf="phase == PaymentPhase.AwaitingPayment" class="payment-dialog-awaiting-payment-container">
        <div style="height: 55%;" class="centered-content">
            <qrcode [qrdata]="paymentRequest" [size]="256" [level]="'M'"></qrcode>
        </div>
        <div style="height: 25%" class="centered-content">
            <textarea readonly class="payment-dialog-payment-request-textarea">{{paymentRequest}}</textarea>
        </div>
        <div style="height: 30%">
            <div class="centered-content">
                <div style="margin: 0 auto;" class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>
            <div style="text-align: center; margin-top: 10px; font-family: Arial, Helvetica, sans-serif;">Awaiting payment of <b>{{amount}}</b> satoshi...</div>
        </div>
    </div>

    <div *ngIf="phase == PaymentPhase.ShowingResult"
        class="payment-dialog-result-container centered-content"
        [ngClass]="{
            'payment-dialog-positive-result': success,
            'payment-dialog-negative-result': !success
        }">
        <div class="payment-dialog-result-message">{{message}}</div>
        <div class="payment-dialog-result-submessage">{{subMessage}}</div>
    </div>

</div>
<div class="payment-dialog-footer" style="position: relative;">
    <div *ngIf="phase == PaymentPhase.SelectingAmount"
        class="button payment-dialog-footer-button"
        [ngClass]="{ 'no-hover disabled': amount == null || amount < minAmount || amount > maxAmount }"
        (click)="amount != null && amount >= minAmount && amount <= maxAmount ? amountSelectionComplete() : null">
        Confirm Amount
    </div>
    <div *ngIf="phase == PaymentPhase.SelectingTarget"
        class="button payment-dialog-footer-button"
        [ngClass]="{ 'no-hover disabled': targetUsername == null }"
        (click)="targetUsername != null ? targetSelectionComplete() : null">
        Confirm Username
    </div>
    <div *ngIf="phase == PaymentPhase.AwaitingPayment"
        class="payment-dialog-footer-progress-bar"
        [ngStyle]="{
            width: Math.min(100, Math.ceil((timeoutElapsedRatio * 100))) + '%',
            'background-color': timeoutElapsedRatio > 0.85 ? '#ee5921' : timeoutElapsedRatio > 0.5 ? '#f9a643' : '#4090c0'
        }">
    </div>
    <div *ngIf="phase == PaymentPhase.AwaitingPayment"
        class="payment-dialog-footer-note">
        Pay within {{(Math.max(0, Math.floor((1 - timeoutElapsedRatio) * invoiceTimeout)))}} seconds
    </div>
</div>
