<div id="main-container">
    <div id="logo-container">
        <div id="logo-image-container" class="centered-content">
            <img id="logo-image" src="assets/img/logo.png" />
        </div>
        <div id="logo-text">
            Lightning Network City
        </div>

        <div id="under-construction-text">
            Coming Soon!
        </div>

        <div class="button-container" style="margin-top: 20px;">
            <div class="button" (click)="openPopup()">Donate</div>
        </div>
    </div>
</div>
