<div id="main-container">
    <div id="logo-container" style="margin: 0 auto; padding-top: 200px;">
        <div id="logo-image" style="background-color: #f6d55c; border: 8px solid #ff9900; width: 96px; height: 96px; border-radius: 50%; margin: 0 auto; position: relative;">
            <img src="assets/img/logo.png" style="width: 64px; height: 64px; display: block; position: absolute; left: calc(50% - 34px); top: calc(50% - 36px);" />
        </div>
        <div id="logo-text" style="font-size: 24px; text-align: center; font-family: Arial, Helvetica, sans-serif; font-weight: 600; color: #ff9900; line-height: 56px; padding-top: 20px;">
            Lightning Network City
        </div>

        <div id="under-construction-text" style="font-size: 24px; text-align: center; font-weight: 600; font-family: Arial, Helvetica, sans-serif; color: #3e3e3e; margin-top: 20px;">
            Coming Soon!
        </div>
    </div>
</div>
