@import '../variables.less';

#app-container {
    min-height: 100vh;
    width: 1200px;
    padding: 0;
    margin: 0 auto;
    background-color: @lightbackgroundcolor;
    position: relative;
    overflow-x: hidden;
}

#app-menu {
    width: 1200px;
    height: 96px;
    border-bottom: 1px solid @lightbackgroundaccentcolor;
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: @lightbackgroundcolor;
}

#app-content-container {
    margin-top: 120px;
    width: 100%;
}

.app-menu-logo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: @textcolor;
    float: left;
    padding: 0 20px;
    cursor: pointer;
    height: 100%;
}

.app-menu-logo:focus {
    outline: none;
}

.app-menu-logo-image {
    width: auto;
    height: 50%;
    position: relative;
    top: 25%;
}

.app-menu-item {
    line-height: 96px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: @textcolor;
    cursor: pointer;
    text-align: right;
    position: relative;
    float: right;
    padding: 0 30px;
}

.app-menu-item:hover {
    color: @highlightedtextcolor;
}

.app-menu-item.no-hover:hover {
    cursor: default;
    color: @textcolor;
}

.app-menu-item:focus {
    outline: none;
}

.app-menu-item-subtitle {
    position: absolute;
    top: calc(50% + 14px);
    right: 0;
    padding-right: 45px;
    width: 100%;
    height: 16px;
    line-height: 16px;
    font-size: 12px;
    color: @infotextcolor;
}

.app-menu-item-subtitle > img {
    height: 20px;
    width: 10px;
    width: auto;
    position: absolute;
    top: -2px;
    right: 30px;
}

.app-menu-item-submenu {
    display: none;
    background-color: @lightbackgroundaccentcolor;
    min-width: 100%;
    position: absolute;
    top: 100%;
    right: 10px;
    z-index: 999;
}

.app-menu-item:hover > .app-menu-item-submenu {
    display: block;
}

.app-menu-item-submenu-item {
    line-height: 44px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0 20px;
    color: @textcolor;
    cursor: pointer;
    text-align: right;
    position: relative;
    white-space: nowrap;
}

.app-menu-item-submenu-item:hover {
    color: @darkaccentcolor;
}

.app-menu-item-submenu-item:focus {
    outline: none;
}
