<div id="app-container">
    <div *ngIf="appService.isInside" id="app-menu" class="centered-content">
        <div class="app-menu-item" *ngFor="let option of menuOptions" [routerLink]="option.navigate">
            {{option.title}}
        </div>

        <div id="app-menu-account-button" class="button" (click)="toggleAccountOptions()">
            Balance: {{appService.user ? appService.user.balance : 0}} satoshi
            <div id="app-menu-account-options">
                <div class="app-menu-account-option" (click)="depositBalance()">Deposit</div>
                <div class="app-menu-account-option" (click)="withdrawBalance()">Withdraw</div>
            </div>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>
