<div id="app-container">
    <div *ngIf="appService.isInside" id="app-menu">
        <div class="app-menu-logo" [routerLink]="'/home'">
            <img class="app-menu-logo-image" src="assets/img/logo-256x128.png"/>
        </div>
        <div class="app-menu-item" [ngClass]="{ 'no-hover': (option.type == 'menu') }" *ngFor="let option of menuOptions" (click)="clickedOption(option)">
            {{option.title ? option.title : getMethodResult(option.titleMethod)}}
            <div *ngIf="option.subtitle != null" class="app-menu-item-subtitle">
                {{getBalance()}} <img src="assets/img/satoshi-symbol-32x64.png"/>
            </div>
            <div class="app-menu-item-submenu" *ngIf="option.type == 'menu'">
                <div *ngFor="let subOption of option.options" [ngStyle]="{ 'display': (subOption.condition == null || getMethodResult(subOption.condition)) ? 'block' : 'none' }" class="app-menu-item-submenu-item" (click)="clickedOption(subOption)">
                    {{subOption.title}}
                </div>
            </div>
        </div>
    </div>
    <div id="app-content-container">
        <router-outlet></router-outlet>
    </div>
</div>
