<div class="app-page-title">FAQ</div>
<div class="faq-container">
    <h4>What is Lightning City?</h4>
    <p>It's a website (clearly). It serves as a platform for building Lightning Apps. Mainly games (for now at least).</p>

    <h4>Why does the website only support Bitcoin/Lightning?</h4>
    <p>I don't really care about anything else.</p>

    <h4>Whats your plan for Lightning City?</h4>
    <p>I honestly don't know. At this point I'm experimenting with the 2 things I like the most. Bitcoin and Games.</p>

    <h4>Why should I register?</h4>
    <p>The website works perfectly without registering. As soon as you get in an annonnymous account is created for you. However, if you register, you're going to have a username and password to recover your account in case something happens. While not registered you'll only have access to your account within the same machine/browser. The only information needed to register is a username and a password. The password is stored as a hash in the database so there's no way I would be able to know it. The username can be a non identifying name. There's really no privacy loss.</p>

    <h4>Can I win in the games? What are the odds?</h4>
    <p>Well, it's a gamble. Some people will win, some will lose. In terms of odds it depends on the game. Generally I point towards 95%. The 5% house cut is what will fund further development.</p>

    <h4>Should I leave any funds in the website outside of playing sessions?</h4>
    <p>Not at all. Only keep funds in your wallet while you're playing. Withdraw them right after. I have no intention of stealing funds but you'll have to take my word for it. Also there's a chance the website gets hacked.</p>

    <h4>My funds disappeared!</h4>
    <p>Get in contact with me and we can see what might have happened.</p>

    <h4>Can I join you in developing this website?</h4>
    <p>Won't hurt to get in contact at least! nel0 [at] protonmail.com or @manuelcosta87 on Twitter.</p>

    <h4>Will you make all this open source?</h4>
    <p>That is certainly the goal. I am however a bit worried that looking at the code can expose some exploits which lead to fund loss. I don't keep a lot of bitcoin on the node for this website, but still I want to make sure I'm solvent when people want to withdraw.</p>

    <h4>Any other question?</h4>
    <p>Contact me at nel0 [at] protonmail.com. I'm friendly, promise.</p>
</div>
