@lightbackgroundcolor: #f3f3f3;
@lightbackgroundaccentcolor: #eaeaea;
@darkbackgroundcolor: #010101;
@textcolor: #3e3e3e;
@infotextcolor: #7e7e7e;
@lighttextcolor: #fff;
@highlightedtextcolor: #4090c0;
@darkaccentcolor: #4090c0;
@lightaccentcolor: #a7cce1;
@warningaccentcolor: #f9a643;
@negativeaccentcolor: #ee5921;
