<div class="app-page-title">Tipping</div>
<div class="tipping-container">
    <div *ngIf="loading" class="centered-content">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div *ngIf="!loading">
        <div *ngIf="tipUser" class="tipping-username">{{tipUser.username ? tipUser.username : 'Anonymous'}}</div>
        <div *ngIf="tipUser" [ngClass]="{ 'disabled no-hover': tipUser.id == appService.user.userId }" class="tipping-button button" (click)="tipUserAction()">Tip</div>
        <div *ngIf="!tipUser" class="tipping-user-not-found">User not found</div>
        <div *ngIf="tipUser && tipUser.id == appService.user.userId" class="tipping-warn">(Can't tip yourself)</div>
        <div *ngIf="tipUser && tipUser.id == appService.user.userId" class="tipping-message">You can share the following URL:</div>
        <input *ngIf="tipUser && tipUser.id == appService.user.userId" class="tipping-url"
            value="https://ln.city/tipping/{{appService.user.username ? appService.user.username : appService.user.userId}}" />
    </div>
</div>
