<div class="app-page-title">Blog</div>
<div class="blog-container">
    <div *ngIf="loading" class="centered-content">
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <div *ngIf="!loading" class="blog-posts-container">
        <div *ngIf="pagePosts.length == 0">
            No posts yet
        </div>
        <div *ngFor="let post of pagePosts" class="blog-post">
            <div class="blog-post-header">
                <div class="blog-post-header-title">{{post.title}}</div>
                <div class="blog-post-header-subtitle">{{readableDate(post.created_time)}} by <b>{{getUserName(post.user)}}</b></div>
            </div>
            <div class="blog-post-body" [innerHTML]="post.body"></div>
            <div class="blog-post-footer">
                <div class="blog-post-comment-count" (click)="loadPostComments(post)">
                    {{post.comments_count}} comment{{post.comments_count == 1 ? '': 's'}}
                </div>
                <div class="blog-post-donations-container" *ngIf="post.user.id != appService.user.userId">
                    <span *ngIf="post.donation_amount > 0">
                        {{post.donation_amount}}
                        <img style="display: inline-block; vertical-align: top; height: 24px; width: auto; padding: 2px 0 6px 0;" src="assets/img/satoshi-symbol-32x64.png">
                        ({{post.donation_count}} tip{{post.donation_count == 1 ? '' : 's'}})
                    </span>
                    <div class="blog-post-donations-button button" (click)="tipPost(post)">TIP</div>
                </div>
                <div class="blog-post-comments-loader centered-content" *ngIf="post.comments_loading">
                    <div class="small-lds-ring"><div></div><div></div><div></div><div></div></div>
                </div>
                <div class="blog-post-comment-add" *ngIf="post.comments_loaded">
                    <div *ngIf="addingComment" class="blog-post-comment-add-loader small-lds-ring"><div></div><div></div><div></div><div></div></div>
                    <input type="text" placeholder="Your comment..." (keyup.enter)="addComment($event, post)" [disabled]="addingComment" />
                    <div class="blog-post-comment-footer">now by <b>{{getUserName(appService.user)}}</b></div>
                </div>
                <div class="blog-post-comments-container" *ngIf="post.comments_loading || post.comments_loaded">
                    <div class="blog-post-comment-container" *ngFor="let comment of post.comments">
                        <div class="blog-post-comment-body">{{comment.body}}</div>
                        <div class="blog-post-comment-footer">{{readableDate(comment.created_time)}} by <b>{{getUserName(comment.user)}}</b></div>
                        <div class="blog-post-comment-donations-container" *ngIf="comment.user.id != appService.user.userId">
                            <span *ngIf="comment.donation_amount > 0">
                                {{comment.donation_amount}}
                                <img style="display: inline-block; vertical-align: top; height: 12px; width: auto; padding: 1px 0 3px 0;"
                                src="assets/img/satoshi-symbol-32x64.png">
                                ({{comment.donation_count}} tip{{comment.donation_count == 1 ? '' : 's'}})
                            </span>
                            <div class="blog-post-comment-donations-button button" (click)="tipComment(comment)">TIP</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
